.title {
    font-weight: bold;
    font-size: 16px;
}

.ul {
    margin: 0; /* Elimina el margen por defecto de las listas */
    padding: 0; /* Elimina el espaciado interior por defecto de las listas */
    list-style: none; /* Elimina los marcadores de lista */
  }
