.conteiner {
    display: grid;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    grid-template-columns: 25% 25% 50%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "data data list"
      "data data list"
      "chat chat list"
      "chat chat list"
      "chat chat list"
      "exit start list"
      ;
  }
  
  .dataGame{
    grid-area: data;
    justify-self: stretch;
    padding: 20px;
    border: 2px solid black;
    background: #ff992b;
  }
  
  .listPlayers{
    grid-area: list;
    justify-self: stretch;
  }
  
  .chat{
    grid-area: chat;
    justify-self: stretch;
    align-self: end;
  }
  
  .exit{
    grid-area: exit;
    justify-self: stretch;
    place-self: center;
  }
  
  .start{
    grid-area: start;
    justify-self: stretch;
    place-self: center;
  }

  .over {
    overflow: hidden;
  }
